---
import Layout from "../layouts/Layout.astro";
import { Fiber } from "../components/Fiber";
import Link from "../components/Link.astro";
---

<Layout title="My name is Costello" description="My name is Costello brand page">
  <main>
    <Fiber client:load client:only/>
    <div class="flex justify-center items-center h-screen">
      <h1 class="heading text-xl md:text-8xl text-white">
        My name is Costello
      </h1>
      <div class="text-white fixed bottom-0 right-0 text-xl p-2">
        <Link href="https://github.com/iamcostello" title="github" />
        <Link
          href="https://www.linkedin.com/in/mynameiscostello"
          title="linkedin"
        />
      </div>
    </div>
  </main>

  <style>
    .heading {
      color: transparent;
      -webkit-text-stroke: 1px white;
    }
  </style>
</Layout>
